*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
  padding: 1rem;
}

button{
  width: 5rem;
  height: 3rem;
  background-color: red;
  border: 1px white;
  color: white;
  margin: 1rem;
  cursor: pointer;
}
img{
  display: block;
  margin-top: 1rem;
  position: absolute;
  left: 0; 
}
hr{
 margin-top: 3rem;
 font-weight: 900;
}


